div.main .content .markdown figure.book,
div.main .content .markdown figure.portrait {
  width: 300px;
}
div.main .content .markdown .indent {text-indent: 3em;font-size: 1.8em;}

@media screen and (min-width: 600px) {
    div.main .content .markdown .container figure.collage {
    width: 500px;
    height: auto;
    margin:0;
  }
}